.view-weekly-report span {
  width: 100%;
  height: 100%;
  display: block;
}

.view-weekly-report .red {
  background: #f16161;
}

.view-weekly-report .green {
  background: #c3efc3;
}

.view-weekly-report .orange {
  background: #ffa500;
}
