.form--inline .month-details .form-item {
  float: none;
}

.view-monthly-report table,
.view-weekly-report table,
.view-clockify table {
  width: 100%;
  margin: 10px 0;
  border-spacing: 0;
  border: 0;
  font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;
  font-size: 0.857em;
  border: solid 1px #ddeeee;
  border-collapse: collapse;
  border-spacing: 0;
  font: normal 13px Arial, sans-serif;
}

.view-monthly-report tr td,
.view-monthly-report tr th,
.view-clockify tr td,
.view-clockify tr th,
.view-weekly-report tr td,
.view-weekly-report tr th {
  padding: 10px 10px;
  text-align: left;
  border: 1px solid #fff;
  border: solid 1px #ddeeee;
  color: #333;
  background: white;
}

.view-monthly-report table tr th,
.view-monthly-report table tr th a,
.view-monthly-report table tr th a:hover,
.view-monthly-report table tr th a:focus,
.view-clockify table tr th,
.view-clockify table tr th a,
.view-clockify table tr th a:hover,
.view-clockify table tr th a:focus,
.view-weekly-report table tr th,
.view-weekly-report table tr th a,
.view-weekly-report table tr th a:hover,
.view-weekly-report table tr th a:focus {
  font-weight: bold;
  background-color: #ddefef;
  border: solid 1px #ddeeee;
  color: #336b6b;
  text-align: left;
}

.view input.form-text,
.view input.form-tel,
.view input.form-email,
.view input.form-url,
.view input.form-search,
.view input.form-file,
.view input.form-number,
.view input.form-color,
.view textarea.form-textarea {
  border: solid 1px #ddeeee;
}

.view .form-item label,
.view .form-wrapper .label {
  font-size: 0.929em;
  color: #336b6b;
}

.view .form-item,
.view .form-actions {
  margin-top: 1em;
  margin-bottom: 1em;
  color: #336b6b;
}

.view fieldset {
  border: solid 1px #ddeeee;
}

.view select {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: #336b6b;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-appearance: menulist;
  box-sizing: border-box;
  align-items: center;
  white-space: pre;
  -webkit-rtl-ordering: logical;
  background-color: #ffffff;
  cursor: default;
  margin: 0em;
  font: 400 11px system-ui;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border: solid 1px #ddeeee;
  border-image: initial;
}

.view-monthly-report .button,
.view-weekly-report .button,
.view-clockify .button {
  text-decoration: none;
  padding: 0.75em 1.55em;
  color: #fff;
  background-color: #26a69a;
  text-align: center;
  letter-spacing: .5px;
  -webkit-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  border: none;
  border-radius: unset;
  background-image: none;
}
.view-monthly-report .button:hover,
.view-monthly-report .button:active,
.view-monthly-report .button:focus,
.view-clockify .button:hover,
.view-clockify .button:active,
.view-clockify .button:focus,
.view-weekly-report .button:hover,
.view-weekly-report .button:active,
.view-weekly-report .button:focus {
  text-decoration: none;
  color: #5a5a5a;
  background: #26a69a;
}
