<html>
<head>
	<style>
	table.responsive-enabled {
		background: #dce6f1;
		width: 100%;
		margin: 10px 0;
		border-spacing: 0;
		border: 0;
		font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
		font-size: 0.857em;
	}
	table tr th, tfoot tr{
		background: #b8cce4;
		border: 1px solid #00adff;
		color: #000000;
	}
	tr td {
		padding: 9px 9px;
		text-align: left;
		border-left: 1px solid #00adff;
		border-right: 1px solid #00adff;
	}
	.header-title{
		color: #000000;
	}
	.total-detail{
		margin-top: 12px;
	}
	.vat-details{
		width: 50%;
		display: inline-block;
	}
	.pay-total{
		width: 20%;
		float: right;
		display: inline-block;
	}
	</style>
</head>
<body>
	<div class="header-title">
		<div class="company-title"> Your company name</div>
	</div>
	<div class="Invoice-details">
		<span>Invoice number: 122456778<span>
		</div>
		<div class="invoice-table">
			{{ table }}
		</div>
		<div class="total-detail">
			<div class="vat-details">
				{{ vat }}
			</div>
			<div class="pay-total">
				{{ paytotal }}
			</div>
		</div>
	</body>
</html>
