{#
/**
 * @file monthly_report.html.twig
 * Default theme implementation to present Monthly report data.
 *
 * This template is used when viewing Monthly report pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_monthly_report()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('monthly_report') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
