{#
/**
 * @file weekly_report.html.twig
 * Default theme implementation to present Weekly report data.
 *
 * This template is used when viewing Weekly report pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_weekly_report()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('weekly_report') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
